@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: -apple-system, BlinkMacSystemFont, Inter, 'Helvetica Neue', 'Segoe UI', Roboto, Oxygen, Avenir, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoosthing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

/* make content fill all available height */
.ant-layout-content {
  min-height: calc(100vh - 3rem) !important;
}

/* Make the antd card tabs stick to the below
 container */
.ant-tabs-top > .ant-tabs-nav {
  margin-bottom: 0 !important;
}

/* hack to stop flickering during css animations */
body {
  overflow-y: hidden;
}

/* Common fix */
.anticon svg {
  margin-bottom: 4px;
}
